<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PricePredictor</title>
    <link rel="stylesheet" href="../static/css/headtext.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">

</head>
<body >
<br><br>


    <div class="main__container">
        <div class="main__content">
            <h1>Pulse of Pune's</h1>
            <h2>Property Market</h2>
            <p>We predict, so you relax.</p>
        </div>
        <div class="main__img--container">
            <img src="../static/assets/img/home.svg" alt="pic" id="main__img">
        </div>
    </div>


<br><br>
    <script src="../static/js/app.js"></script>
    
</body>
</html>